<div class="row rounded-3 my-3 gy-3">

      
    @for (product of DataFavTrips;track $index) 
    {
      <div class="col-lg-3 col-md-4 col-6 ">
          <div class="card product position-relative">
        
              <i 
              class="img50 top-0 end-0 pe-2 pt-1 fs-2 cursor-pointer position-absolute">
           </i>
           
            <div >
              <img [src]="product.photo" class="w-100 card-img-top" style="height: 220px;" >
              <div class="cart-title px-2">
              <p class="text-muted fw-bold text-end">{{product.country}}{{product.city}}</p>
              <h3 class="h6 text-end"> {{product.name.split(" ",5).join(" ")}} </h3>
              <div class="d-flex align-items-center justify-content-between">
                <div class="py-2 mx-2">
                    <button class="btn btn-outline-dark w-100">add </button>
                  </div>
                  <div class="text-end">
                    <p class="text-muted m-0 p-0">سعر الجولة للفــرد</p>
                  <span class="fw-bold text-danger tex-end">{{product.price}}EGP</span>
                </div>
                
              </div>
              </div>
            </div>
          </div>
      
      </div>
    }
    
    
  </div>