.forlinear{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(230, 67, 67, 0.4)), url("../../../assets/images/headerImg.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
}